extends layout


//- append head
//-   //- add page specific styles by appending to the head
//-   link(rel="stylesheet" href="/stylesheets/index.css")
//-   //- add page specific js
//-   script(src="/javascripts/index.js" type="module" defer)

block content
  .container
    h1= title
  .main_body_titles.container
    h2 Most Popular Posts
    h2 Most Recent Comments 
  .main_body.container
    .user_posts.container.search_result
      each post in posts
        a(href=`/posts/${post.id}`).media
          img.media__img(src=post.Song.albumImgUrl)
          .media__body
            h3= post.title
            span= post.shortDescription
            .media__body__bottom
              small= post.Song.artistName
              small= post.Song.songName
          .comment_count.container
            span= post.Comments.length
    .user_comments_preview.container
      each comment in comments
        a.comment_preview.media(href=`/posts/${comment.postId}`)
          .media_body
            //- ::before - speech bubble
            p= comment.content
            small= comment.title
          .time_elapsed
            span= comment.dataValues.timeElapsed
            br
            small ago