extends layout.pug
block content
  .error-container
  form.profile_edit_container.user_banner.container#editForm(action=`/users/${user.id}/edit`, method="post")
    input(type="hidden" name="_csrf" value=csrfToken)
    .user_banner__body.container.profile_edit
        .container
          .form_group.container.pic_prof_group
            img.edit_pfp(src=user.profileImg, alt="profile-picture")
            a(href=`/users/${user.id}/edit/image`).btn.btn--secondary--outline.btn-chng-pfp.edit_prof_format
              buttonChange Change Profile Picture
          .form_group.container.email_user_discard_group
            .container.email_user_group
              label(for='username') User Name
              input.form_input.edit_prof_format(type='text', name='username' id="editUsername" value=user.username autofocus=true required)
              label(for='editEmail') Email
              input.form_input.edit_prof_format(type='text', name='email' id="editEmail" value=user.email required)
            a(href=`/users/${user.id}`).btn.btn--secondary--outline.btn--red.discard_changes_btn.edit_prof_format
              button Discard Changes
        .container.prof_edit_bot_group
          .form_group.container
            label(for='editHeader') Header
            input.form_input.edit_prof_format(type='text', name='header' id="editHeader" value=user.header)
            label(for='editBio') Bio
            textarea.form_input(cols="60", rows="5"  id="editBio" name='editBio') #{user.bio}
          .form_group.container.confirm_deactivate_group
            a.btn.btn--primary--outline.confirmProfBtn.edit_prof_format#confirmChangesBtn
              button Confirm Changes
            a.btn.btn--secondary--outline.edit_prof_format#deactivateProfBtn.btn--red
              button(type='button') Deactivate Account
  include includes/modal-confirm-delete.pug
  script(src="/javascripts/profile-edit.js" type='module')
