extends layout.pug

block content
  h1= post.title
  .user_banner.container.media
    .container
      img.post_image(src=post.Song.albumImgUrl)
      .media__body.post_body
        h2= post.shortDescription
        p= post.content
    .container.post_media_footer
      span= post.Song.artistName
      span= post.Song.albumName
      span= post.Song.releaseDate
      span= post.User.username
      span= timeElapsed
      a.btn.btn--primary--outline(href=post.Song.songUrl target="_blank") Listen
      span= post.Comments.length
      if isAuthorized
        a.btn.btn--secondary--outline(href=`/posts/${post.id}/edit`) Edit Post
  .comment_error_container.hidden
  .main_body.container#post_body_container
    form#comment_form
      input.form_input(type="text" name="content" placeholder="What do you think?")
      input(type="hidden", name="_csrf" value=csrfToken)
      button#send_button Send
    each comment in post.Comments
      //- if a user's profile is deactivated, don't show their comment
      .media#comments
        a.profPicNav(href=`/users/${comment.User.id}`)
          img.comment_pfp(src=comment.User.profileImg, alt="ProfPic")
        p= comment.content
        span= comment.User.username
        span= comment.dataValues.timeElapsed

  script(src="/javascripts/post-comments.js" type="module")
