extends layout.pug

block content
  h1= post.title
  .user_banner.container.media
    .container
      img.post_image(src=post.Song.albumImgUrl)
      .media__body.post_body
        h2= post.shortDescription
        p= post.content
    .container.post_media_footer
      span= post.Song.artistName
      span= post.Song.albumName
      span= post.Song.releaseDate
      span= post.User.username
      span= timeElapsed
      a.btn.btn--primary--outline(href=post.Song.songUrl target="_blank") Listen
      span= post.Comments.length
  .main_body.container#post_body_container
    input(type="text" placeholder="What do you think?")
    button
    each comment in post.Comments
      //- if a user's profile is deactivated, don't show their comment
      .media#comments
        p= comment.content
        span= comment.
